{% extends 'base.html' %}

{% block title %} List Books {%endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1 class="display-4">Books list </h1>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
    <ul class="list-group">
    {% for book in books_list %}
        <li >
        <div class="row no-gutters">
          <div class="col-12 col-sm-6 col-md-8">
              <a href="{% url 'books-detail' book.pk %}" class="list-group-item list-group-item-action">
                {{ book.title }}</a>
          </div>
            {% if user.is_authenticated %}
              <div class="col-6 col-md-4">
                  <a class="btn btn-primary" href="{% url 'books-update' book.pk %}">Change</a>
                  <a class="btn btn-danger" href="{% url 'books-delete' book.pk %}">Delete</a>
              </div>
            {% endif %}
        </div>
        </li>
    {% endfor %}
    </ul>
    </div>

</div>
{% include 'partials/pagination.html' %}

{% endblock %}